.logo {
    background-image: url('../image/logo_smartphone.png'); 
  
    @media (min-width: @screen-sm-min) and (orientation: landscape) {
      background-image: url('../image/logo_desktop.png');
    }
}

html, body {
    height: 100% !important;
}

.full-height {
    min-height: 100vh;
    box-sizing: border-box;
}

.fill {
    min-height: 100%;
}

.gameContainer {
    background-color: #36393f;
    display:flex;
    align-items:center; /* vertically aligned! */
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    height:100%;
    flex-direction: column;
}

.action-input {
    width: 7.5vmax;
    height: 7.5vmax;
}

span.emoji {
    font-size: 4vmax;
    text-align: center;
    vertical-align: middle;
}

.no-bullets {
    list-style-type: none;
}

span.leaderboard {
    text-align: left;
    font-size: 2vmax;
}

* {
    color: #fff3d1;
}
