* {
    color: #ffffff;
    font-family: Poppins, sans-serif;
}

html {
    height: 100vh;
}

body {
    height:max-content;
    margin: 1%;
}


select { overflow-y: hidden; overflow-x: hidden; background: none;}
option {color: black !important; }

input[type="text"] {
    color: black !important;
}

.pixelart {
    image-rendering: optimizeSpeed !important;             
    image-rendering: -moz-crisp-edges!important;
    image-rendering: -webkit-optimize-contrast!important;
    image-rendering: -o-crisp-edges !important; 
    image-rendering: pixelated!important;
    -ms-interpolation-mode: nearest-neighbor!important;
}

.text-left {
    text-align: left !important;
}
button {
    color:#000000 !important;
}
canvas {
    border: medium solid #000000;
    border-radius: 10%;
}

img.pokemon-btn {
    margin: -10px;
}

.modal * {
    color: black !important;
}